@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,200;1,400;1,500;1,900&display=swap');

.nav-bar{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100px;
    
}


#logo{
    /* border: 1px dashed red; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#links{
    /* border: 1px dashed blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.color-link{
    color: #5475B1 !important ;
    
}

.nav-item{
  font-size: 20px;
}

.color-link:hover{
 
  text-decoration-line: underline;
  text-decoration-thickness: 2px ;
  text-decoration-color: #292963;
}

#languages{
    /* border: 1px dashed green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: auto;
    height: 120px;
    margin-left: 20px;
}

.carousel-healthy{
    height: 670px;
    margin-top: 30px;
}

h2{
  font-family: Montserrat, sans-serif ;
  font-weight: 700 !important;
}
p{
  font-family: Montserrat;
  font-weight: 400;
}

.titleh1{
  margin-top: 50px;
}

h1{
  font-family: Montserrat, sans-serif ;
  font-weight: 700 !important;
}

.img-carousel{
    height: 650px;
}

.imagen-container {
    position: relative;
    
  }
  
.text-supper {
   
    position: absolute;
    top: 80px;
    right: 120px;
    color: white;
    font-size: 22px;
    background: rgba(34, 41, 74, 0.2);
    padding: 10px;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
  }
.text-supper-altern {
   
    position: absolute;
    bottom: 80px;
    right: 190px;
    color: white;
    font-size: 22px;
    background: rgba(34, 41, 74, 0.2);
    padding: 10px;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
  }
  
  .button-supper{
    position: relative;
    align-self: flex-end;
    font-family: Montserrat !important; 
    width: 200px;
    background-color: #fff !important;
  }
  .button-supper-altern{
    position: relative;
    align-self: flex-end;
    font-family: Montserrat !important; 
    width: 200px;
    background-color: #fff !important;
  }

  .button-supper:hover{
    background-color: #3A428B !important;
  }
  .button-supper-altern:hover{
    background-color: #3A428B !important;
  }

  .five-tech-container{
    margin-top: 100px;
    padding-left: 20px;
  }

  .list-item-tech{
    list-style-type: none;
  }
  .item-tech{
    font-size: 50px;
    transition: color 0.5s;
    opacity: 0.2;
    cursor: pointer;
  }

  #hepa :hover{
    color: #73BADF ;
    opacity: 1;
  }
  #ca :hover{
    color: #73BADF ;
    opacity: 1;
  }
  #uvc :hover{
    color: #73BADF ;
    opacity: 1;
  }
  #i- :hover{
    color: #73BADF ;
    opacity: 1;
  }
  #o3 :hover{
    color: #73BADF ;
    opacity: 1;
  }

  .item-tech.clicked{
    color: #73BADF;
    opacity: 1;
  }

  .five-tech-list{
    display: flex;
    gap: 55px;

  }
  
  
  .description-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
    height: 200px;
  }

  .description-container > div:not(:first-child) {
    display: none;

  } 

  .main-section{
    display: grid;
    grid-template-columns: 60% 40%;
    
    grid-template-areas: 
    "about image"
    "btns image"
    "main-txt main-txt";
    grid-gap: 5px;
    margin-top: 70px;
    
  }

  .main-section:hover{
    background-color: rgb(115, 186, 223, 0.2) ;
    transition: background-color 0.9s ease;
  }

  .about-us{
    grid-area: about;
    height: 250px;
 
  }

  h3, h4{
    font-family: Montserrat;
    font-weight: 700 !important ;
  }
  .sub-title-color{
    color: #6FA4D6 ;
  }

  .main-image{
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;

  }

  .representative-text{
    grid-area: main-txt;
    height: 180px;

  }
  .action-btns{
    grid-area: btns;
    height: auto;
    
  }
  
  .item{
    
    color: black;
    padding: 20px;
    
  }

  .happy-fam{
    height: 350px;
    align-self: center;

  }

  .main-btns{
    border-color: rgb(29, 130, 201) !important;
    font-size: 10px !important;
    width: 150px;
    color: black !important;
  }

  .main-btns:hover{
    color: #fff !important;
    background-color: #5475B1 !important;
  }

  .benefits{
    margin-top: 30px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 33% 33% 33%;
    height: auto;
    grid-template-areas: 
    "title title title"
    "ben-1 ben-2 ben-3";

  }

  .titleh1{
    grid-area: h1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  #blue-color{
    color: #73BADF;
  }

  .benefits-title{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    color: #6FA4D6;
    padding-left: 20px;
  }
  
  .benefit-1{
    grid-area: ben-1;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .benefit-2{
    grid-area: ben-2;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .ben-2{
    font-size: 35px;
    color: #73BADF;
  }

  #three, #six {
    font-size: 45px;
  }

  .benefit-3{
    grid-area: ben-3;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .logo-ben-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .logo-benefits{
    height: 200px;
    /* max-height: 100%; */
    
  }
  
  .desvanecer {
    opacity: 1;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  
  .logo-ben-container:hover .desvanecer {
    opacity: 0.07;
  }
  

  .ben-txt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(34, 41, 74, 0.7);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .logo-ben-container:hover .ben-txt {
    opacity: 1;
  }
  

  footer{
    bottom: 0;
    width: 100%;
    background: #fff  ;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin-top: 100px;
   
}

footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    

}

footer .social_icon li, footer .menu li, footer .contact li {
    list-style: none;

}

footer .social_icon li a{
    font-size: 1.5em;
    color: black;
    margin: 0 15px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;

}

footer .social_icon li a:hover{
    transform: translateY(-10px);
    color: #6FA4D6;
}
footer .menu li a:hover{
    transform: translateY(-10px);
    color: #6FA4D6;
}

footer .menu  li a , footer .contact li{
    font-size: 1.2em;
    color: black;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;

}

footer .menu  li a:hover{
    opacity: 1;
    color: #6FA4D6;

}

footer  p{
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    transition: 0.5s;
}

.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item-footer{
  flex-basis: 100%;
}

/*Products Section*/

.nav-bar-products{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100px;
  z-index: 2;
  position: relative;
}

.container-video {
  width: 100%;
  margin-top: -8%;
  /* overflow: hidden; */
  position: relative;
  z-index: 1;
}

video {
  width: 100%;
  height: auto;
  
}

.text-supper-video {
   
  position: absolute;
  top: 50%;
  left: 35%;
  color: rgba(255, 255, 255, 0.5);
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 60px;
}

.capa-blanca {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  opacity: 1; /* Ajusta la opacidad según sea necesario */
  z-index: 0; /* Asegura que la capa blanca esté por encima del video */
}



.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Divide el contenedor en dos columnas iguales */
  grid-template-areas: 
    "product product"
    "cat-des cat-des"
    "features features"
    "product-1 product-1"
    "product-2 product-2"
    "product-3 product-3";
  
  width: 80%;
  margin: 30px auto;
  height: auto;
}

.products{
  grid-area: product;
  /* border: dashed 1px blue; */
} 

.category-description{
  grid-area: cat-des;
  /* border: dashed 1px rgb(212, 138, 33); */
  display: flex;
}



.features{
  grid-area: features;
  gap: 10px;
  /* border: dashed 1px rgb(214, 30, 30); */
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.product-1{
  grid-area: product-1;
  /* border: dashed 1px rgb(22, 134, 35); */
  display: flex;
  flex-direction: row;
  
  margin-top:20px;
  
}

.product-2{
  grid-area: product-2;
  display: flex;
  flex-direction: row;
  
  margin-top:90px;
  /* border: dashed 1px rgb(22, 134, 35); */

}
.product-3{
  display: grid;
  gap: 0px;
  grid-template-columns: 48% 52%;
  grid-template-areas: 
  "image-3 desc-3";
  width: 80%;
  margin: 90px auto 70px auto;
}

.product-3-image{
  grid-area: image-3;
  /* border: 1px dashed red; */
  display: flex;
  justify-content: center;
  width: 90%;
}

.description-product-3{
  grid-area: desc-3;
  width: 100%;
  /* border: 1px dashed blue; */
  font-family: Montserrat;
}


.cat-des{
  color: #6FA4D6;
  height: 50px;
  padding-top: 15px;
}


.item-features{
  border: solid 1px #292963;
  width: auto;
  border-radius: 10px;
  padding: 5px;
}



.description-product-1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  flex-direction: column;
  font-family: Montserrat;
}

.description-product-2{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  flex-direction: column;
  font-family: Montserrat;
 
}


.image-product-1{
  height: 200px;
  width: 465px;
}

.image-product-2{
  height: 200px;
  width: 465px;
}
.image-product-3{
  height: 200px;
  width: auto;
  
}

.tech-sheet{
  color: #6FA4D6;
  font-family: Montserrat;
  text-decoration: none;
}

.certification-container{
  display: grid;
  gap: 5px;
  grid-template-columns: 45% 55%;
  margin-top: 70px;
  grid-template-areas:
  "title title"
  "o3 ev-0"
  "safe cert";
}

#title-cert{
  grid-area: title;
  /* border: 1px dashed darkblue; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

#logo-o-tres{
  grid-area: o3;
  /* border: 1px dashed rgb(214, 47, 47); */
  display: flex;
  justify-content: flex-end;
}
#logo-tech-o3{
  width: 200px;
  height: 200px;
}

#ev-0-desc{
  grid-area: ev-0;
  /* border: 1px dashed rgb(19, 198, 49); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  font-family: Montserrat;
}

#cert-names{
  grid-area: cert;
  margin-top: 50px;
  /* border: 1px dashed rgb(205, 231, 53); */
}

#list-cert{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  
}

.item-certification{
  list-style-type: none;
  border: 1px solid #5475B1;
  width: 250px;
  height: 40px;
  font-size: 13px;
  font-family: Montserat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.item-certification:hover{
  background-color: rgb(111, 164, 214, 0.3);
  transition: background-color 0.3s ease;
  color: black;
  cursor: pointer;
}

.link-cert{
  color: black;
  text-decoration: none;
  font-family: Montserrat;
}

#safe-tech{
  grid-area: safe;
  margin-top: 50px;
  /* border: 1px dashed rgb(12, 14, 15); */
}

.safe-cont{
  margin: 0 30px;
  padding-left: 30PX;
  font-family: Montserrat;
}

#image-safe{
  width: 80px;
  margin-bottom: 10px;
}

/*CONTACT SECTION*/

.contact-main-container{
  display: grid;
  gap:15px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "title .."
  "cont form";
}

.contact-title{
  grid-area: title;
  margin-top: 50px;
  padding-left: 70px;
}

.container-contact-section{
  grid-area: cont;
  padding-left: 50px;
  padding-top: 50px;
  width: 80%;
}

.form-main-container{
  grid-area: form;
}

.cont-name{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  "icon desc"
  "icon info";
}

.icon{
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.desc-icon{
  grid-area: desc;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.inf-icon{
  grid-area: info;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}

#name-icon, #address-icon, 
#email-icon,#phone-icon{
  width: 40px;
  height: 80px;
  color: #6FA4D6;
}


.form-container{
  width: 450px; /* Ancho de tu contenedor */
  height: 450px; /* Alto de tu contenedor */
  background: linear-gradient(to bottom, #22294A, #73BADF ); /* Color de fondo del contenedor */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Definición de la sombra */
  border-radius: 10px; /* Opcional: agregar bordes redondeados */
  margin: 20px; /* Opcional: margen exterior */
  padding: 20px; /* Opcional: espacio interior */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-floating {
  font-family: Montserrat;
  font-size: 15px;
}


  
.css-button-sliding-to-top--blue {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid transparent;
  color: black;
  font-family: Montserrat;
}
.css-button-sliding-to-top--blue:hover {
  color: #fff;
}
.css-button-sliding-to-top--blue:hover:after {
  height: 100%;
}
.css-button-sliding-to-top--blue:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #2c0b8e;
}


.btn-send-message:hover{
  border-color:#292963;
  color: #5475B1;
  background-color: #73BADF;
}

.hidden {
  display: none;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#popup-content {
  text-align: center;
}

#close-popup {
  background: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilos específicos para pantallas pequeñas (ejemplo: menos de 600px) */
@media only screen and (max-width: 600px) {
  .nav-bar {
    grid-template-columns: 20% 75%; /* Una sola columna para pantallas pequeñas */
    height: auto; /* Ajustar altura según el contenido */
    grid-template-areas: 
    "logo ."
    "links links";
  }
  #logo{
    grid-area: logo;
  }
  #links{
    grid-area: links;
    padding-top: 10px;
  }
  .logo{
    width: auto;
    height: 80px;
    margin-left: 20px;
  }
  .nav-item{
    font-size: small;
  }
  .carousel-healthy{
    height: 300px;
    margin-top: 30px;
  }

  .img-carousel{
    height: 300px;
  }
  .text-supper{
    width: 55%;
    height: 150px;
    font-size: 10px;
    position: absolute;
    top:20px;
    right: 20px;
  }

  .text-supper-altern{
    width: 55%;
    height: 110px;
    font-size: 10px;
    position: absolute;
    top:15px;
    left: 20px;
  }
  .title-banner-image{
    font-size: medium;
  }
  .text-supper p {
    font-size: small;
  }
  .button-supper{
    width: auto;
    height: 23px;
    font-size: 8px !important;
    position: absolute;
    align-self: center;
    top: 115px;
    right: 50px;
  }
  .button-supper-altern{
    width: auto;
    height: 23px;
    font-size: 8px !important;
    position: absolute;
    align-self: center;
    top: 85px;
    left: 15px;
  }
  
  .five-tech-list{
    display: flex;
    gap: 35px;
  }
  .five-tech-container{
    margin-top: 50px;
  }
  .item-tech{
    font-size: 25px;
  }
  .benefits{ 
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
    height: auto;
    grid-template-areas: 
    "title"
    "ben-1"
    "ben-2" 
    "ben-3";
  }
  .logo-ben-container{
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .benefit-1{
    height: auto
  }
  .main-section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "about"
    "image"
    "btns" 
    "main-txt";
    grid-gap: 5px;
    margin-top: 70px;
    
  }

  .happy-fam{
    height: 250px;
    align-self: center;
    width: 100%;
  }
  .representative-text{
    
    height: auto;

  }
  .main-image{
    height: 300px;
  }
  footer{
    padding-left: 0;
    font-size: 15px;
    margin-top: 50px;
   
  }
  footer p{
    align-self: center;
    padding-left: 15px;
  }
  .nav-bar-products {
    grid-template-columns: 20% 75%; /* Una sola columna para pantallas pequeñas */
    height: auto; /* Ajustar altura según el contenido */
    grid-template-areas: 
    "logo ."
    "links links";
    z-index: 2;
    position: relative;
  }

   .container-video {
    width: 100%;
    margin-top: -10%; 
    /* overflow: hidden;  */
    position: relative;
    z-index: 1;
  } 
  video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .text-supper-video {
    font-size: 5vw;
    top: 55%;
    left: 35%;
  }

  .capa-blanca {
    height: 25%;
  }

  .image-product-1, .image-product-2 {
    height: 180px;
    width: 100%;
   
  }
  
  .image-product-3{
    height: 180px;
    width: 90%;
    
  }
  .products-container {
    display: grid;
    grid-template-columns: 1fr; /* Divide el contenedor en dos columnas iguales */
    grid-template-areas: 
      "product"
      "cat-des "
      "features "
      "product-1 "
      "product-2 "
      "product-3 ";
    
    width: 80%;
    margin: 30px auto;
    height: auto;
  }
  .item-features{
    border: solid 1px #292963;
    font-size: small;
    width: auto;
    
  }
  .features{
    grid-area: features;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .product-1, .product-2{
    /* border: dashed 1px rgb(22, 134, 35); */
    flex-direction: column;
  }
  .description-product-1, .description-product-2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .product-3{
    
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "image-3" 
    "desc-3";
    
    
  }
  
  .product-3-image{
    grid-area: image-3;
    /* border: 1px dashed red; */
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .description-product-3{
    grid-area: desc-3;
    width: 100%;
    /* border: 1px dashed blue; */
    font-family: Montserrat;
  }

  .certification-container{
    display: grid;
    gap: 5px;
    grid-template-columns: 47% 53%;
    
    grid-template-areas:
    "title title"
    "o3 ev-0"
    "cert cert"
    "safe safe";
  }
  
  
  #logo-o-tres{
   
    /* border: 1px dashed rgb(214, 47, 47); */

    justify-content: flex-end;
    
  }
 
  
  #ev-0-desc{
    grid-area: ev-0;
    /* border: 1px dashed rgb(19, 198, 49); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
  
  #cert-names{
    grid-area: cert;
    margin-top: 50px;
    /* border: 1px dashed rgb(205, 231, 53); */
  }
  
  #list-cert{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    
  }
  
  .item-certification{
    list-style-type: none;
    border: 1px solid #5475B1;
    width: 250px;
    height: 40px;
    font-size: 13px;
    font-family: Montserat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  .item-certification:hover{
    background-color: rgb(111, 164, 214, 0.3);
    transition: background-color 0.3s ease;
    color: black;
    cursor: pointer;
  }
  
  .link-cert{
    color: black;
    text-decoration: none;
  }
  
  #safe-tech{
    grid-area: safe;
    margin-top: 50px;
    /* border: 1px dashed rgb(12, 14, 15); */
  }
  
  .safe-cont{
    margin: 0 30px;
    padding-left: 30PX;
  }
  
  .cont-name{
    display: grid;
    grid-template-columns: 20% 90%;
    grid-template-areas: 
    "icon desc"
    "icon info";
  }
  .contact-main-container{
    display: grid;
    gap:15px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "cont" 
    "form";
  }
  
  
  .container-contact-section{
    
    padding-left: 30px;
    padding-top: 10px;
    width: 80%;
  }
  
  .form-main-container{
    margin-top: 30px;
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-container{
    width: 350px; /* Ancho de tu contenedor */
    height: 450px; /* Alto de tu contenedor */
    background: linear-gradient(to bottom, #22294A, #73BADF ); /* Color de fondo del contenedor */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Definición de la sombra */
    border-radius: 10px; /* Opcional: agregar bordes redondeados */
    margin: 20px; /* Opcional: margen exterior */
    padding: 20px; /* Opcional: espacio interior */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .send-title{
    font-size: 30px;
  }
  .form-floating {
    font-family: Montserrat;
    font-size: 15px;
  }
}

